.movie__trending {
  margin-bottom: 3rem;
  .movie__trending-title {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    > h2 {
      font-size: 24px;
      line-height: 36px;
      font-weight: 700;
    }
    > a {
      .btn__view-more {
        cursor: pointer;
        border: 3px solid #fff;
        background-color: transparent;
        color: #fff;
        box-shadow: unset;
        transition: color 0.3s ease, background-color 0.3s ease;
        border-width: 2px;
        padding: 0.25rem 1.5rem;
        font-size: 1rem;
        border-radius: 30px;
        &:hover {
          color: red;
          background-color: #fff;
        }
      }
    }
  }
  .movie__trending__slider {
    .swiper {
      user-select: none;
      .swiper-wrapper {
        .swiper-slide {
          width: 15% !important;
          margin-right: 10px;
        }
      }
    }
  }
}
