.btn__option-detail {
  padding: 0.5rem 1.5rem;
  border: 2px solid #fff;
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #0f0f0f;
  margin-right: 0.5rem;
  p {
    user-select: none;
  }
}
