.detail__page {
  .detail__page-banner {
    position: relative;
    z-index: 100;
    height: 50vh;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      height: 100px;
      background-image: linear-gradient(0deg, #0f0f0f, transparent);
    }
  }
  .container {
    .detail__page-grid {
      //   display: flex;
      //   justify-content: flex-start;
      display: grid;
      grid-template-columns: 35% 62%;
      gap: 3%;
      margin-top: -200px;
      .grid__left {
        > img {
          width: 100%;
          border-radius: 30px;
        }
      }
      .grid__right {
        // padding-left: 40px;
        .movie__name {
          font-size: 64px;
          line-height: 64px;
          font-weight: 700;
          margin-bottom: 2rem;
        }
        .btn__option {
          display: flex;
          margin-bottom: 2rem;
        }
        .movie__text {
          line-height: 1.5rem;
          font-weight: 400;
          margin-bottom: 2rem;
        }
        .caster {
          h3 {
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 36px;
          }
          .caster__content {
            .caster__content-item {
              img {
                // width: 91px;
                height: 160px;
                margin-bottom: 0.5rem;
              }
              p {
                font-size: 0.8rem;
                line-height: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}
.similar {
  margin-top: 50px;
  margin-bottom: 50px;
  user-select: none;
  .similar__title {
    h2 {
      font-size: 24px;
      line-height: 36px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
  .width15 {
    width: 15% !important;
    margin-right: 10px;
  }
}

@media screen and(max-width: 993px) {
  .detail__page .container .detail__page-grid .grid__right {
    .movie__name {
      font-size: 50px;
      line-height: 60px;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    .btn__option {
      margin-bottom: 1rem;
    }
    .movie__text {
      margin-bottom: 1rem;
    }
  }
}

@media screen and(max-width: 993px) {
  .similar .width15 {
    width: 20% !important;
  }
}

@media screen and(max-width: 767px) {
  .detail__page .container .detail__page-grid {
    grid-template-columns: 1fr;
    .grid__left {
      display: none;
    }
  }
  .similar .width15 {
    width: 30% !important;
  }
}
